<h2>Startup Weekend Texter</h2>
<p>
  <%= link_to "Create A New Message", new_message_path %>
</p>
<p>
  <%= link_to "Create A New Person", new_person_path %>
</p>
<p>
  <%= link_to "Bulk Add People", new_bulk_people_path %>
</p>
<p>
  <%= link_to "View All People (#{@people_count})", people_path %>
</p>
