<h2>Bulk Import People from CSV</h2>

= link_to 'Back to Dashboard', root_path

%br

= form_tag do 
  <div class="field">
  <label for="person_csv">CSV</label>
  <br/>
  <textarea id="person_csv" name="person[csv]" rows="20" cols="100"></textarea>
  </div>
  <div class="actions">
  <input name="commit" type="submit" value="Save">
  </div>
