- content_for :head do 
  %h1.page_title About

.textblock
  %h2 About
  %p
    Innovation Women, a product of Innovation Nights, will be an online speaker’s bureau specifically for innovative,
    entrepreneurial and technical women.  It will provide top women with more visibility and an opportunity to demonstrate
    their thought leadership and allow event managers to find great female presenters. Audiences benefit from a more
    diverse panel.

