- content_for :head do 
  %h2.page_title Coming Soon
    
%br    
%br    
%br    
%br    
%br    

%h2 Coming Soon
%p Innovation Women is currently in development.
%p More features will be added in the coming weeks.
%p= link_to "Home Page"

%br    
%br    
%br    
%br    
%br    
%br    
%br    

