- content_for :head do 
  %h1.page_title Coming Soon
    
.textblock
  %h2 Coming Soon
  %p Innovation Women is currently in development.
  %p More features will be added in the coming weeks.
  %p= link_to "Home Page"
