body {
  padding: 0;
  margin: 0;
}

a {
  color: #14273F;
  text-decoration: none;
  
  &:hover {
    color: #14273F;
    text-decoration: underline;
    background-color: white;
  }
}

.right {
  float: right;
}

.small {
  font-size: 11px;
}

.content {
}