.footer {
  clear: both;
  padding: 45px;
  background-color: #181818;
  color: #6A6A6A;
  overflow: hidden;
  
  .section {
    width: 33%;
    float: left;
    
    h2, a, a:hover, a:visited {
      color: white;
    }
    
    td {
      padding: 0 12px 12px 0;
      vertical-align: top;
      
      &.highlighted {
        color: white;
      }
    }
  }
}