// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profiles {

  .edit_profile {
    padding: 12px;
    text-align: center;
    background-color: $blue;
    color: white;
    
    a {
      color: white;
      text-decoration: underline;
    }
  }
  
  .profile {
    float: left;
    width: 35%;
    background-color: #EFEFEF;
    
    .profile-content {
      padding: 30px 0;
      width: 80%;
      margin-left: 20%;
      
      .name, .title-info {
        color: $blue;
      }
      
      .name {
        margin: 12px 0 6px 0;
      }
      
      .location {
        margin: 0;
        padding-bottom: 24px;
      }
      
      td {
        width: 50%;
      }
      
      .ask-me-to-speak {
        a, a:hover, a:visited {
          line-height: 120px;
          font-size: 15px;
          
          span {
            font-size: 27px;
            vertical-align: -2px;
            margin-right: 15px;
          }
        }
      }
      
      hr {
        margin: 24px 24px 24px 0;
      }
      
      .links {
        a, a:visited, a:hover {
          color: $blue;
        }
      }
    }
  }
  
  .details {
    float: left;
    width: 65%;
    
    .details-content {
      padding: 12px 30px;
      
      .description, .topics {
        color: $blue;
        line-height: 1.5em;
      }
    }
  }
  
  &.new {
    width: 510px;
    margin: auto;
    
    h2 {
      padding: 24px 0;
      border-top: 1px solid #ccc;    
      border-bottom: 1px solid #ccc;    
    }
  }
  
}
