// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profiles {
  
  .profile {
    float: left;
    width: 40%;
    background-color: #EFEFEF;
    
    .profile-content {
      padding: 30px 0;
      width: 60%;
      margin-left: 40%;
      
      .name, .title-info {
        color: $blue;
      }
      
      .name, .location {
        margin: 0 0 6px 0;
      }
      
      .location {
        padding-bottom: 24px;
      }
      
      td {
        width: 50%;
      }
    }
  }
  
  .details {
    float: left;
    width: 60%;
    
    .details-content {
      padding: 12px 30px;
      
      .description {
        color: $blue;
        line-height: 1.5em;
      }
    }
  }
  
}
