h2 {
  text-transform: uppercase;
}

.actions {
  background-color: #efefef;
  overflow: hidden;
  
  .action {
    float: left;
    width: 25%;
    
    .inside {
      padding: 12px 6px;
      text-align: center;
    }
  }
}

.news {
  padding: 12px 24px;
}

.featured_members {
  clear: both;
  overflow: hidden;
  background-color: #efefef;
  padding: 12px 24px;
  
  .featured_member {
    width: 25%;
    float: left;
    
    .inner {
      padding: 12px 0;
    }
  }
}