.actions {
  background-color: #efefef;
  overflow: hidden;
  
  .action {
    float: left;
    width: 25%;
    
    .inside {
      padding: 24px 12px;
      text-align: center;
    }
  }
}

.featured_members {
  overflow: hidden;
  background-color: #efefef;
  .featured_member {
    width: 25%;
    float: left;
  }
}